.footer {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px;
  }
}

.footer__copyright {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #808080;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 16px;
  line-height: 18px;
  }
}
